
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap');


header h1{
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
